<a href="https://colab.research.google.com/github/arun2202/eda-global-terrorism-analysis/blob/main/Global_Terrorism_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> The Global Terrorism Database (GTD) is an open-source database including information on terrorist attacks around the world from 1970 through 2017. The GTD includes systematic data on domestic as well as international terrorist incidents that have occurred during this time period and now includes more than 180,000 attacks. The database is maintained by researchers at the National Consortium for the Study of Terrorism and Responses to Terrorism (START), headquartered at the University of Maryland.</b>

# <b> Explore and analyze the data to discover key findings pertaining to terrorist activities. </b>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#loading the Global Terrorism Analysis CSV file data into the data frame
import pandas as pd
file_path = '/content/drive/MyDrive/Colab Notebooks/AlmaBetter/2.Analytics Frameworks/2.1. Capstone Project - EDA/Global Terrorism Data.csv'
GTA_df = pd.read_csv(file_path,encoding="ISO-8859-1") # as utf-8 encoding seems to be failing, using this encoding="ISO-8859-1"

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4,6,31,33,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
#sampling the data
print(GTA_df.head())

        eventid  iyear  imonth  iday approxdate  extended resolution  country  \
0  197000000001   1970       7     2        NaN         0        NaN       58
1  197000000002   1970       0     0        NaN         0        NaN      130
2  197001000001   1970       1     0        NaN         0        NaN      160
3  197001000002   1970       1     0        NaN         0        NaN       78
4  197001000003   1970       1     0        NaN         0        NaN      101

          country_txt  region  ... addnotes scite1 scite2  scite3  dbsource  \
0  Dominican Republic       2  ...      NaN    NaN    NaN     NaN      PGIS
1              Mexico       1  ...      NaN    NaN    NaN     NaN      PGIS
2         Philippines       5  ...      NaN    NaN    NaN     NaN      PGIS
3              Greece       8  ...      NaN    NaN    NaN     NaN      PGIS
4               Japan       4  ...      NaN    NaN    NaN     NaN      PGIS

   INT_LOG  INT_IDEO INT_MISC INT_ANY  related
0        0         0        0       0      NaN
1        0         1        1       1      NaN
2       -9        -9        1       1      NaN
3       -9        -9        1       1      NaN
4       -9        -9        1       1      NaN

[5 rows x 135 columns]

In [ ]:
#sampling the data
print(GTA_df.tail())

             eventid  iyear  imonth  iday approxdate  extended resolution  \
181686  201712310022   2017      12    31        NaN         0        NaN
181687  201712310029   2017      12    31        NaN         0        NaN
181688  201712310030   2017      12    31        NaN         0        NaN
181689  201712310031   2017      12    31        NaN         0        NaN
181690  201712310032   2017      12    31        NaN         0        NaN

        country  country_txt  region  ... addnotes  \
181686      182      Somalia      11  ...      NaN
181687      200        Syria      10  ...      NaN
181688      160  Philippines       5  ...      NaN
181689       92        India       6  ...      NaN
181690      160  Philippines       5  ...      NaN

                                                   scite1  \
181686  "Somalia: Al-Shabaab Militants Attack Army Che...
181687  "Putin's 'victory' in Syria has turned into a ...
181688  "Maguindanao clashes trap tribe members," Phil...
181689  "Trader escapes grenade attack in Imphal," Bus...
181690  "Security tightened in Cotabato following IED ...

                                                   scite2  \
181686  "Highlights: Somalia Daily Media Highlights 2 ...
181687  "Two Russian soldiers killed at Hmeymim base i...
181688                                                NaN
181689                                                NaN
181690  "Security tightened in Cotabato City," Manila ...

                                                   scite3  \
181686  "Highlights: Somalia Daily Media Highlights 1 ...
181687  "Two Russian servicemen killed in Syria mortar...
181688                                                NaN
181689                                                NaN
181690                                                NaN

                        dbsource  INT_LOG  INT_IDEO INT_MISC INT_ANY  related
181686  START Primary Collection        0         0        0       0      NaN
181687  START Primary Collection       -9        -9        1       1      NaN
181688  START Primary Collection        0         0        0       0      NaN
181689  START Primary Collection       -9        -9        0      -9      NaN
181690  START Primary Collection       -9        -9        0      -9      NaN

[5 rows x 135 columns]

In [ ]:
#understand the column names
print(GTA_df.columns)

Index(['eventid', 'iyear', 'imonth', 'iday', 'approxdate', 'extended',
       'resolution', 'country', 'country_txt', 'region',
       ...
       'addnotes', 'scite1', 'scite2', 'scite3', 'dbsource', 'INT_LOG',
       'INT_IDEO', 'INT_MISC', 'INT_ANY', 'related'],
      dtype='object', length=135)

In [ ]:
#understand the data frame measures
print(GTA_df.describe())

            eventid          iyear         imonth           iday  \
count  1.816910e+05  181691.000000  181691.000000  181691.000000
mean   2.002705e+11    2002.638997       6.467277      15.505644
std    1.325957e+09      13.259430       3.388303       8.814045
min    1.970000e+11    1970.000000       0.000000       0.000000
25%    1.991021e+11    1991.000000       4.000000       8.000000
50%    2.009022e+11    2009.000000       6.000000      15.000000
75%    2.014081e+11    2014.000000       9.000000      23.000000
max    2.017123e+11    2017.000000      12.000000      31.000000

            extended        country         region       latitude  \
count  181691.000000  181691.000000  181691.000000  177135.000000
mean        0.045346     131.968501       7.160938      23.498343
std         0.208063     112.414535       2.933408      18.569242
min         0.000000       4.000000       1.000000     -53.154613
25%         0.000000      78.000000       5.000000      11.510046
50%         0.000000      98.000000       6.000000      31.467463
75%         0.000000     160.000000      10.000000      34.685087
max         1.000000    1004.000000      12.000000      74.633553

          longitude    specificity  ...     ransomamt   ransomamtus  \
count  1.771340e+05  181685.000000  ...  1.350000e+03  5.630000e+02
mean  -4.586957e+02       1.451452  ...  3.172530e+06  5.784865e+05
std    2.047790e+05       0.995430  ...  3.021157e+07  7.077924e+06
min   -8.618590e+07       1.000000  ... -9.900000e+01 -9.900000e+01
25%    4.545640e+00       1.000000  ...  0.000000e+00  0.000000e+00
50%    4.324651e+01       1.000000  ...  1.500000e+04  0.000000e+00
75%    6.871033e+01       1.000000  ...  4.000000e+05  0.000000e+00
max    1.793667e+02       5.000000  ...  1.000000e+09  1.320000e+08

         ransompaid  ransompaidus  hostkidoutcome     nreleased  \
count  7.740000e+02    552.000000    10991.000000  10400.000000
mean   7.179437e+05    240.378623        4.629242    -29.018269
std    1.014392e+07   2940.967293        2.035360     65.720119
min   -9.900000e+01    -99.000000        1.000000    -99.000000
25%   -9.900000e+01      0.000000        2.000000    -99.000000
50%    0.000000e+00      0.000000        4.000000      0.000000
75%    1.273412e+03      0.000000        7.000000      1.000000
max    2.750000e+08  48000.000000        7.000000   2769.000000

             INT_LOG       INT_IDEO       INT_MISC        INT_ANY
count  181691.000000  181691.000000  181691.000000  181691.000000
mean       -4.543731      -4.464398       0.090010      -3.945952
std         4.543547       4.637152       0.568457       4.691325
min        -9.000000      -9.000000      -9.000000      -9.000000
25%        -9.000000      -9.000000       0.000000      -9.000000
50%        -9.000000      -9.000000       0.000000       0.000000
75%         0.000000       0.000000       0.000000       0.000000
max         1.000000       1.000000       1.000000       1.000000

[8 rows x 77 columns]

In [ ]:
#Row and column info about the data frame
print(GTA_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Columns: 135 entries, eventid to related
dtypes: float64(55), int64(22), object(58)
memory usage: 187.1+ MB
None